$light: #fff;
$bg-main: #E5E5E5;
$color-segunda: #FFA246;
$color-terca: #35E185;
$color-quarta: #6688FF;
$color-quinta: #B366FF;
$color-sexta: #66D1FF;
$color-sabado: #FF66D4;
$color-domingo: #FF6666;
$color-placeholder:#3B3E45;
$shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
$form-border: #2CBE82;
$box-delete: #98031E;