@import './variables/variables';

body{
    font-family: 'Poppins', sans-serif;
    
}

.header{
    padding: 2em 3em;
    background-color: $light;
    box-shadow: $shadow;
    border-radius: 35px;

}

 /* width */
 ::-webkit-scrollbar {
    width: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E5E5E5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
.header__container{
    width: 100%;
}

.fixed{
    flex-grow: 2;
}

.header__box{
    background-color: $color-quarta;
    position: relative;
    left: -60px;
    border-radius: 0 10px 10px 0;
    color: $light;
    padding: 1em 2em;
    width: 35%;
    height: 20%;
}

.btn{
    font-family: 'Nunito', sans-serif;

}

.header__title{
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
}

.header__description{
    font-size: 14px;
    line-height: 20px;
}

.header__date{
    text-align: center;
}


.btn__form-sum::before{
    content: url('../assets/sum-icons.svg');
    background-image: '../assets/sum-icons.svg';
    height: 40px;
    width: 40px;
}

.btn__form-minus::before{
    content: url('../assets/minus-icons.svg');
    background-image: '../assets/sum-icons.svg';
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 5px;
}

.btn__form{
    position: relative;
    padding: 0.3rem 1.5rem;
}

.container__main{
    margin: 0 2em;
}

.input__form{
    color: $color-placeholder;
    font-size: 14px;
    line-height: 20px;
    padding: .4rem;
    border: 1px solid $form-border;
    border-radius: 10px;
}

.input__atividade{

    width: 30%;
    &:placeholder-shown{
        text-indent: 5rem;

    }
}
.input__dias{
    width: 18%;
}

.input__horas{
    width: 7%;
}

.chose__btn{
    &:not(:last-child){
        margin-right: 1em;
    }

    color: $light;
    padding: .3rem 1rem ;
    border-radius: 8px 8px 0 0;
    
}

.chose__hour{
    box-shadow: $shadow;
    width: 5.4rem;
    height: 4.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1.4rem;
    border-radius: 10px;
}

.chose__segunda{
    background-color: $color-segunda;
}

.chose__terca{
    background-color: $color-terca;
}

.chose__quarta{
    background-color: $color-quarta;
}

.chose__quinta{
    background-color: $color-quinta;
}

.chose__sexta{
    background-color: $color-sexta;
}

.chose__sabado{
    background-color: $color-sabado;
}

.chose__domingo{
    background-color: $color-domingo;
}

.activities{
    margin-top: 2em;
    width: 1300px;
    height: 500px;

    .container__activities{
        width: 1100px;
        overflow: scroll;
        height: 500px;
        background: url(../assets/bola-LogoCompasso\ 1.png) no-repeat;
        background-position: right bottom;
    }
}

.activities__box{
    display: flex;
    margin-top: 1em;
    width: 100vw;
    height: 100px;
}


.box__hour{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    color: $color-placeholder;
}

.box__info{
    border-radius: 10px;
    box-shadow: $shadow;
    width: 600px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;

}


.box__btn{
    align-self: flex-start;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: $light;
    background-color: $box-delete;
    padding: .2em;

}

.box__info--text{
    padding:1rem 1rem 0 2.5rem;
    font-size: 20px;
    flex-shrink: 2;


    &::before{
        content: '';
        width: 30px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px 0 0 50px;
    }

}


.activities__segunda{
    .box__hour{
        background-color: $color-segunda;
    }
    .box__info--text::before{
        background:$color-segunda ;

    }
}


.activities__terca{
    .box__hour{
        background-color: $color-terca;
    }
    .box__info--text::before{
        background-color:$color-terca ;

    }
}


.activities__quarta{
    .box__hour{
        background-color: $color-quarta;
    }
    .box__info--text::before{
        background-color:$color-quarta ;

    }
}


.activities__quinta{
    .box__hour{
        background-color: $color-quinta;
    }
    .box__info--text::before{
        background-color:$color-quinta ;

    }
}


.activities__sexta{
    .box__hour{
        background-color: $color-sexta;
    }
    .box__info--text::before{

        background-color:$color-sexta ;

    }
}


.activities__sabado{
    .box__hour{
        background-color: $color-sabado;
    }
    .box__info--text::before{
        background-color:$color-sabado ;

    }
}


.activities__domingo{
    .box__hour{
        background-color: $color-domingo;
    }
    .box__info--text::before{
        background-color:$color-domingo ;

    }
}

.activities__conflito{
    .box__hour{
        background-color: $box-erro;
    }
    .box__info--text::before{
        background-color:$box-erro ;

    }
}

